{% extends 'index.html' %}
{% load thumbnail %}
{% block title %} | {{ news_item }}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ news_item.game }}. {{ news_item.text|striptags|truncatewords:20 }}">
    <meta name="keywords" content="fotbal, highlights, rezumat, {{ news_item.game.campionat.title }}, {{ news_item.game.team1 }}, {{ news_item.game.team2 }}, {{ news_item.game }}">
{% endblock %}
{% block slider %}
            <!-- PAGE TITLE -->
            <div class="page-title">{{ news_item }}</div>
            <!-- FEATURED IMAGE -->
            <div class="page-img">
                <img src="{{ news_item.photo.image.url }}" alt="" />
            </div>
{% endblock %}
{% block content %}
                    <article>
                        <!-- POST DATE -->
                        <div class="blogpostdate">{{ news_item.pub_date }}</div> 
                        <div class="match-results">
                            <span><a href="{% url 'team' news_item.game.campionat.slug news_item.game.team1.slug %}">{{ news_item.game.team1 }}</a></span>
                            <span class="score">{{ news_item.game.goal_team1 }} - {{ news_item.game.goal_team2 }}</span>
                            <span><a href="{% url 'team' news_item.game.campionat.slug news_item.game.team2.slug %}">{{ news_item.game.team2 }}</a></span>
                        </div>
                        {{ news_item.text|safe }}
                        {% if news_item.game.live %}
                            <h3>LIVE:</h3>
                            {{ news_item.game.live|safe }}
                        {% endif %}
                        {% if news_item.game.video %}
                            <h3>Rezumat:</h3>
                            {{ news_item.game.video|safe }}
                        {% endif %}
                        {% if news_item.game.images.count > 1 %}
                            <h3>Galerie foto:</h3>
                            <ul id="gridbox1" class="team-gallery">
                                {% for image in news_item.game.images.all %}
                                    <li data-filter="photos">
                                        <a class="clb-photo" href="{{ image.image.url }}" data-rel="photos">
                                        {% thumbnail image.image "360x360" crop="center" as im %}
                                            <img src="{{ im.url }}" alt="{{ image.title }}" />
                                        {% endthumbnail %}
                                        </a>
                                    </li>
                                {% endfor %}
                                {% for goal in news_item.game.goals.all %}
                                        <li data-filter="photos">
                                            <a class="clb-photo" href="{{ goal.author.random_image.image.url }}" data-rel="photos">
                                            {% thumbnail goal.author.random_image.image "360x360" crop="center" as im %}
                                                <img src="{{ im.url }}" alt="{{ image.title }}" />
                                            {% endthumbnail %}
                                            </a>
                                        </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </article>
                    <hr/>
{% endblock %}
{% block sidebar %}
    {% include 'hero_snippet.html' %}
{% endblock %}
